<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>

    <style>
        .a:hover {
            color: darkorchid;
        }
    </style>
</head>
<body>
    <h1>User Information</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Password</th>
                <th>Age</th>
                <th>action</th>
            </tr>
        </thead>

        <tbody>
            {% for obj in user_data_list %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.password }}</td>
                    <td>{{ obj.age }}</td>
                    <td>
                        <!-- <a href="http://127.0.0.1:8000/info/delete/?nid={{ obj.id }}">delete</a> -->
                        <a href="/info/delete/?nid={{ obj.id }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <a href="/info/add">添加</a>

</body>
<style>
    a{
        color:darkcyan;
    }
    a:hover{
        color: darkorchid;
    }
</style>
</html>